@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap%27');

* {
    font-family: 'Inter', sans-serif;
}

.container-logoM3 {
    padding: 28px 0px;
    background-color: #000;
    display: flex;
    justify-content: center;
}

.logoM3 {
    display: block;
}

.image-desktop {
    width: 100%;
    height: 600px;
    object-fit: cover;

}

.image-mobile {
    width: 100%;
    height: auto;
    object-fit: cover;

}


.titulo1 {
    margin: 48px 0 0px;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.titulo2 {
    margin: 0 0 12px;
    font-family: 'Inter', sans-serif;
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.texto1 {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    display: flex;
    width: 776px;
    justify-content: center;
    text-align: center;
    line-height: 24px
}

.text-card {
    display: flex;
    justify-content: center;

}

.image1 {
    width: 315px;
    height: 315px;

}

.image-card1 {
    margin: 66px 0px 186px;
    display: flex;
    justify-content: center;
}

.cardboxes {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    background: #ffff;
    justify-content: center;
}

.cardbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 26px 35px;
    background: #ffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.cardbox-image {
    display: block;
    margin-bottom: 26px;
}


.cardbox-description {
    font-family: 'Inter', sans-serif;
    max-width: 300px;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

.bottom-imagecards-background {
    width: 100%;
    height: 442px;
    position: absolute;
    z-index: -1;
    background: #E0E0E0;
    justify-items: center;
    margin: 80px 0 280px;

}

.bottom-imagecards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 32px;
    justify-content: center;
    padding: 62px 94px 138px;
}

.bottom-imagecard-01 {
    display: block;
    width: 556px;
    height: 520px;
    margin: 143px 0 138px;

}

.bottom-imagecard-02 {
    display: block;
    width: 556px;
    height: 520px;
    margin: 143px 0 138px;

}

.bottom-imagecard-mobile {
    display: none;
    width: 100%;
    height: 372px;
    justify-content: center;
}

.bottom-cardboxes {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 16px;
    background: #ffff;
    justify-content: center;
}

.bottom-cardbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 32px 65px;
    background: #ffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);

}

.bottom-cardbox-image {
    display: block;
    margin-bottom: 26px;
}


.bottom-cardbox-description {
    font-family: 'Inter', sans-serif;
    max-width: 300px;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
}

.bottom-mobile-cardbox-image {
    display: none;
}

.bottom-text-card {
    display: flex;
    justify-content: center;
}

.bottom-title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2em;
    line-height: 24px;
    text-align: center;
    margin: 138px 0 18px;
}

.bottom-text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 550px;
    text-align: center;
}

.bottom-banner-container{
    display: flex;
    justify-content: center;

}
.bottom-banner {
    display: flex;
    justify-content: center;
    width: 1360px;
    height: 276px;
    margin: 32px 0px 104px 200px;
}

.footer-background {
    position: absolute;
    width: 1920px;
    height: 128px;
    background: #000000;
    z-index: -1;
}

.footer {
    display: flex;
    justify-content: center;
}
.logo{
    margin: 0 22px 0 0;
}
.logos {
    margin: 38px 22px 0;
    display: block;
    
}

.footer-details {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}


@media screen and (max-width:414px) {
    .image-desktop {
        display: none;

    }

    .titulo1 {
        font-size: 20px;
    }

    .titulo2 {
        font-size: 28px;
    }

    .texto1 {
        width: 358px;
    }

    .image1 {
        width: 240px;
        height: 240px;
    }

    .image-card1 {
        margin: 68px 0 80px;
    }

    .cardboxes {
        grid-template-columns: 1fr;
        margin: 24px 32px;
        max-width: 350px;
        height: 1070px;

    }

    .cardbox {
        width: 350px;
        height: 288px;
    }

    .cardbox-image {
        margin: 36px 124px 0;
        width: 102px;
        height: 102px;
    }

    .cardbox-description {
        width: 299px;
        height: 95px;

    }

    .background {
        display: flex;
        justify-content: center;
        padding: 24px 24px 80px;
    }

    .bottom-imagecards-background {
        width: 414px;
        height: 484px;
        margin: 32px 0 0;
    }

    .bottom-imagecards {
        grid-template-columns: repeat(2, max-content);
        padding: 32px 24px 0;
        gap: 14px;
    }

    .bottom-imagecard-01 {
        width: 178px;
        height: 180px;
        margin: 80px 0 0;
    }

    .bottom-imagecard-02 {
        display: none;
    }

    .bottom-imagecard-mobile {
        display: block;
        width: 368px;
        height: 372px;

    }

    .bottom-cardboxes {
        grid-template-columns: 1fr;
        margin: 24px 32px;
        max-width: 350px;
        height: 1070px;
    }

    .bottom-cardbox {
        width: 350px;
        height: 288px;
        margin-bottom: 0;
    }

    .bottom-cardbox-image {
        margin: 36px 124px 0;
        width: 102px;
        height: 102px;
    }

    .bottom-cardbox-description {
        width: 299px;
        height: 95px;
        font-size: 14px;
    }

    .bottom-mobile-cardbox-image {
        display: block;
        margin: 568px 0 52px;
        width: 414px;
        height: 414px;
    }

    .bottom-text-card {
        width: 350px;
        height: 192px;
        margin: 18px 32px 0;
    }

    .bottom-title {
        margin-top: 0;
        width: 315px;
        height: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
    }

    .bottom-text {
        width: 350px;
        margin: 0 0 100px;
    }

    .bottom-banner {
        display: none
    }
    .footer-background {
        position: absolute;
        width: 414px;
        height: 128px;
        background: #000000;
        z-index: -1;
        margin: 104px 0 0 ;
    }
    
    .footer {
        display: flex;
        justify-content: center;
    }
    
    .logos {
        margin: 38px 22px 16px;
        display: block;

    }
    
    .footer-details {
    display: flex;
    text-align: center;
    max-width: 264px;
     
    }
}











@media screen and (min-width:415px) {
    .image-mobile {
        display: none;
    }

}